<!DOCTYPE html>
<html>

  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}

    {% load font_awesome %}

    {% fa_css %}

    {% load static %}

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="{% static 'arkapp/index.css' %}" type="text/css">
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">
      google.charts.load('current', {'packages':['timeline']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var container = document.getElementById('vizualize');
        var chart = new google.visualization.Timeline(container);
        var dataTable = new google.visualization.DataTable();

        dataTable.addColumn({ type: 'string', id: 'Term' });
        dataTable.addColumn({ type: 'string', id: 'Artist' });
        dataTable.addColumn({ type: 'date', id: 'Start' });
        dataTable.addColumn({ type: 'date', id: 'End' });

        // dataTable.addRows([
        //   [ 'Washington', new Date(1789, 3, 30), new Date(1797, 2, 4) ],
        //   [ 'Adams',      new Date(1797, 2, 4),  new Date(1801, 2, 4) ],
        //   [ 'Jefferson',  new Date(1801, 2, 4),  new Date(1809, 2, 4) ]]
        //   );

        rows = [];

        {% for res in depth %}
          rows.push(['{{ res.Name }}', '{{ res.Name }}', new Date("{{res.BirthDate}}"), new Date("{{res.DeathDate}}")]);
        {% endfor %}


        var options = {
          timeline: { showRowLabels: false }
        };

        if (rows.length > 0) {
          dataTable.addRows(rows);
          chart.draw(dataTable, options);
        }

        google.visualization.events.addListener(chart, 'select', selectHandler); 

        function selectHandler(e)     {   
            // alert(data.getValue(chart.getSelection()[0].row, 0));
            window.location = '/ark/artist/?name=' + dataTable.getValue(chart.getSelection()[0]['row'], 0);
        }
      }
    </script>
   
  </head>


  <body class="bg-white">
    <!-- <div class="container"> -->
      <nav class="navbar p-3 navbar-light bg-white justify-content-between navbar-custom">
        <a class="navbar-brand" href="/ark"><i class="fa fa-image fa-2x"></i><h2>Ark</h2></a>
      </nav>

    <div class="wrapper">

      <!-- Page Content -->
      <div class="container">
        
        <div id="results">
          <h3>{{ results.Name }}</h3>
          <br>
          {% if results.BirthDate %}
            <h5>Born : {{ results.BirthDate }} </h5>
          {% endif %}
          {% if results.DeathDate %}
            <h5>Died : {{ results.DeathDate }} </h5>
          {% endif %}
          {% if results.Movements %}
            <h5>Movements :
                {% for mov in movements %}
                    <a href="/ark/movements/movement/?name={{ mov }}"> {{ mov }} </a>
                    {% if not forloop.last %}
                        ,
                    {% endif %}
                {% endfor %}
            </h5>
          {% endif %}
          <br>

          <figure class="figure text-center">
            <img src="{{ results.Picture }}" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
            <figcaption class="figure-caption">{{ results.Abstract }}</figcaption>
          </figure>

            <br>
            <h3>Artworks</h3>
            <div class="card-columns">

              {% for res in results.Artworks %}
                <div class="card">
                  <img class="card-img-top" src="{{ res.Picture }}" alt="Card image cap">
                  <div class="card-body text-center">
                    <h5 class="card-title">{{ res.Name }}</h5>
                    <p class="card-text">{{ res.Author }}</p>
                    <a href="/ark/artwork/?name={{ res.Name }}" class="btn btn-link">View Page</a>
                  </div>
                </div>
              {% endfor %}

            </div>

            <br>
            <h3> Visualize </h3>

            <div id="vizualize" style="height: 500px;"></div>

            <br>
            <h3>Similar Artists</h3>
            <div class="card-columns">
                {% for res in recommend %}
                <div class="card">
                  <img class="card-img-top" src="{{ res.Picture }}" alt="Card image cap">
                  <a href="/ark/artist/?name={{ res.Name }}">
                    <div class="card-body text-center">
                      <h5 class="card-title">{{ res.Name }}</h5>
                      <p class="card-text">{{ res.Description }}</p>
                      <p class="btn btn-link">View Page</p>
                    </div>
                  </a>
                </div>
              {% endfor %}
            </div>


        </div>

        
      </div>

    </div> 
  </body>
</html>