<!DOCTYPE html>
<html>

  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}

    {% load font_awesome %}

    {% fa_css %}

    {% load static %}

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="{% static 'arkapp/index.css' %}" type="text/css">
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
    
  </head>


  <body class="bg-white">
    <!-- <div class="container"> -->
      <nav class="navbar p-3 navbar-light bg-white justify-content-between navbar-custom">
        <a class="navbar-brand" href="/ark"><i class="fa fa-image fa-2x"></i><h2>Ark</h2></a>
      </nav>

    <div class="wrapper">

      <!-- Page Content -->
      <div class="container">
        <div id="results">
          <h3>{{ results.Name }}</h3>
          <a href="/ark/artist/?name={{ results.Author }}"> <h4>{{ results.Author }}</h4></a>
          <br>

          {% if results.Year %}
            <h5>Year : {{ results.Year }} </h5>
          {% endif %}
          {% if results.Museum %}
            <h5>Currently located : {{ results.Museum }} </h5>
          {% endif %}
          {% if results.Dimensions %}
            <h5>Dimensions : {{ results.Dimensions }}</h5>
          {% endif %}
          <br>

          <figure class="figure text-center">
            <img src="{{ results.Picture }}" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
            <figcaption class="figure-caption">{{ results.Abstract }}</figcaption>
          </figure>

            <br>
            <h3>Recommendations</h3>
            <div class="card-columns">

              {% for res in recommend %}
                <div class="card">
                  <img class="card-img-top" src="{{ res.Picture }}" alt="Card image cap">
                  <div class="card-body text-center">
                    <h5 class="card-title">{{ res.Name }}</h5>
                    <p class="card-text">{{ res.Author }}</p>
                    <a href="?name={{ res.Name }}" class="btn btn-link">View Page</a>
                  </div>
                </div>
              {% endfor %}

            </div>

        </div>


      </div>

    </div>
  </body>
</html>