<!DOCTYPE html>
<html>

  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}

    {% load font_awesome %}

    {% fa_css %}

    {% load static %}

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="{% static 'arkapp/index.css' %}" type="text/css">
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
    
    <script type="text/javascript">
      $(document).ready(function() {
        $('#searchinput').keyup(function() {
          $('#searchclear').toggle(Boolean($(this).val()));
        });
        $('#searchclear').toggle(Boolean($("#searchinput").val()));
        $('#searchclear').click(function() {
          $('#searchinput').val('').focus();
          $(this).hide();
        });
      });
    </script>

    <script type="text/javascript">
      $(document).ready(function () {
          $('#sidebarCollapse').on('click', function () {
              $('#sidebar').toggleClass('active');
          });
      });
    </script>

    <script type="text/javascript"></script>
  </head>


  <body class="bg-white">
    <!-- <div class="container"> -->
      <nav class="navbar p-3 navbar-light bg-white justify-content-between navbar-custom">
        <a class="navbar-brand" href="/ark"><i class="fa fa-image fa-2x"></i><h2>Ark</h2></a>
      </nav>

    <div class="wrapper">

      <!-- Page Content -->
      <div class="container text-center">
        <a class="btn btn-info navbar-btn text-white" href="/ark">
            Artists
        </a>
        <a class="btn btn-info navbar-btn text-white" href="/ark/artworks">
            Artworks
        </a>
        <a class="btn btn-info navbar-btn text-white" href="/ark/movements/">
            Movements
        </a>
        <a class="btn btn-info navbar-btn text-white" href="/ark/vizualize/">
            Vizualize
        </a>
        
        <form method="post" class="form-inline w-100 search-custom" role="search">
          {% csrf_token %}
          <div class="btn-group mb-3 w-100">
              <input id="searchinput" type="search" name="search"
                     class="form-control bg-light w-100 form-control-lg search-input-custom"
                     placeholder="Search movements"
                     value="">
              <span id="searchclear" class="fa fa-times-circle fa-2x"></span>
              <button class="btn btn-default input-group-addon" type="submit" id='search-btn'>
                <i class="fa fa-search fa-2x"></i>
              </button>
          </div>


          <div class="filters w-100">
            {% for f in filters %}
              <button class="btn btn-light">{{ f }}</button>
            {% endfor %}
          </div>
        </form>

        <div id="results" vocab="http://schema.org/" typeof="CreativeWork" resource="Movements">

            <div class="card-columns" property="Movements" typeof="ItemList" resource="List">
              
              {% for res in results %}
                <div class="card" property="Movements" typeof="ListItem">
				  {% if res.Picture %}
                    <img class="card-img-top" property="Image" resource="{{ res.Picture }}" src="{{ res.Picture }}" alt="Card image cap">
				  {% endif %}
                  <a property="Query" href="movement/?name={{ res.Name }}">
                    <div class="card-body text-center">
                      <h5 class="card-title" property="name">{{ res.Name }}</h5>
                      <p class="btn btn-link">View Page</p>
                    </div>
                  </a>
                </div>
              {% endfor %}

            </div>

        </div>

        
      </div>

    </div> 
  </body>
</html>